* {
    padding: 0;
    margin: 0;
    font-size: 32px;
}


.box-one {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 200px;
    border: 30px solid red;
    background-color: lightgreen;
}


.box-two {
    display: flex;
    padding: 20px;
    margin: 200px;
    border: 30px solid black;
    justify-content: center;;
    background-color: lightgreen;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-three, .box-four, .box-five {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    border-radius: 10px;
    background-color: lime;
}