* {
    padding: 0;
    margin: 0;
    font-size: 32px;
}


.box-one {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 200px;
    border: 30px solid red;
    background-color: lightgreen;
}


.box-two {
    display: flex;
    padding: 20px;
    margin: 200px;
    border: 30px solid black;
    justify-content: center;;
    background-color: lightgreen;
    box-sizing: border-box;
}